* {
  box-sizing: border-box;
}

.borel-regular {
  font-family: "Borel", cursive;
  font-size: 1.5rem;
  color: black;
  padding-top: 24px;
}

.logo {
  height: 28rem;
  max-height: 275px;
}

.logo-mini {
  height: 3em;
}

html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full viewport height */
}

.header {
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: hsla(45, 99%, 56%, 1);

  background: linear-gradient(270deg, hsla(45, 99%, 56%, 1) 0%, hsla(46, 100%, 89%, 1) 0%, hsla(46, 100%, 90%, 1) 5%, hsla(0, 0%, 100%, 1) 100%);
  
  background: -moz-linear-gradient(270deg, hsla(45, 99%, 56%, 1) 0%, hsla(46, 100%, 89%, 1) 0%, hsla(46, 100%, 90%, 1) 5%, hsla(0, 0%, 100%, 1) 100%);
  
  background: -webkit-linear-gradient(270deg, hsla(45, 99%, 56%, 1) 0%, hsla(46, 100%, 89%, 1) 0%, hsla(46, 100%, 90%, 1) 5%, hsla(0, 0%, 100%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FEC71E", endColorstr="#FFF2C9", GradientType=1 );
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background: hsla(45, 99%, 56%, 1);

  background: linear-gradient(90deg, hsla(45, 99%, 56%, 1) 0%, hsla(46, 100%, 89%, 1) 0%, hsla(46, 100%, 90%, 1) 5%, hsla(0, 0%, 100%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(45, 99%, 56%, 1) 0%, hsla(46, 100%, 89%, 1) 0%, hsla(46, 100%, 90%, 1) 5%, hsla(0, 0%, 100%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(45, 99%, 56%, 1) 0%, hsla(46, 100%, 89%, 1) 0%, hsla(46, 100%, 90%, 1) 5%, hsla(0, 0%, 100%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FEC71E", endColorstr="#FFF2C9", GradientType=1 );
}

.content {
  flex: 1; /* fills the space between header and footer */
  overflow-y: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 350px;
  text-align : center;
}