* {
  box-sizing: border-box;
}

.borel-regular {
  font-family: "Borel", cursive;
  font-size: 1.25rem;
  color: black;
  padding-top: 24px;
}

.logo {
  height: 28rem;
  max-height: 275px;
}

.logo-mini {
  height: 3em;
}

html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full viewport height */
}

.header {
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FAEAC9;
  background: linear-gradient(0deg,rgba(250, 234, 201, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.footer {
  height: 25%;
  max-height: 180px;
  display: flex;
  padding-bottom: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background: #FAEAC9;
  background: linear-gradient(180deg,rgba(250, 234, 201, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.content {
  flex: 1; /* fills the space between header and footer */
  overflow-y: auto;
  background-color: #faeac9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 350px;
  text-align : center;
}